<% if @request.errors.any? %>
	<ul>
	<% @request.errors.full_messages.each do |req| %>
		<li><%= req %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @request do |f| %>
<div class="form-group">
<%= f.label :name %>*
<%= f.text_field :name %>
</div>
<p></p>
<div class="form-group">
<%= f.label :email %>*
<%= f.text_field :email %>
</div>
<p></p>

<%#= f.label :dept %>     <!--to change the label display text -->

<%= f.label "Department" %>  

<%= f.radio_button :dept, "Sales" %> Sales
<%= f.radio_button :dept, "Marketing", :checked => true %> Marketing
<%= f.radio_button :dept, "Technical" %> Technical

<p></p>

<div class="form-group">
<%= f.label "Message" %>
<%= f.text_area :body %>
<p></p>
</div>
<%= f.submit value: "Save"%>


<% end %>