<h2>all requests in 'Done then Not Done' order</h2><p></p>

<table border=1 border-color=#cccccc>
<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Department</th>
	<th>Message</th>
	<th>Actions</th>
</tr>


<% @entire_requests.each do |q| %>
<tr>
	<th><%= link_to q.name, request_path(q) %></th>
	<th><%= link_to q.email, request_path(q) %></th>
	<th><%= link_to q.dept, request_path(q) %></th>
	<th><%= q.body %></th>
	<th><form action="/" method="post">
		  <button><%= link_to "Edit", edit_request_path(q) %></button>  
			<button><%= link_to "Delete", 
				request_path(q), 
				method: :delete, 
				data: {confirm: "are you sure?"} %></button>
			<button><% if q.actions %>
								<%="Done" %>
							<% else %>
								<%="Not Done" %>
							<% end %>

							<% q.actions = false || q.actions %>
			</button>
			</form>
	</th>

</tr>
<% end %>
</table><p></p>

<button><%= link_to "New Request", new_request_path %></button>