<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" width="80%">

		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Department</th>
			<th>Message</th>
			<th>Actions</th>
		</tr>

		<% @entire_requests.each do |q| %>
		<tr>
			<th><%= link_to q.name, request_path(q) %></th>
			<th><%= link_to q.email, request_path(q) %></th>
			<th><%= link_to q.dept, request_path(q) %></th>
			<th><%= q.body %></th>
			<th> 
				<!-- render a partial _buttons.html.erb here for the 3 buttons shared with 'show' view -->
				<%= render partial: "buttons", locals: {local_q: q} %>
			</th>
 
		</tr>
		<% end %>
	</table>
</div>

<center>
	<%= will_paginate @entire_requests %><br>
	<button><%= link_to "New Request", new_request_path %></button>
</center>