
<table border=1>
<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Department</th>
	<th>Message</th>
	<th>Actions</th>
</tr>

<tr>
	<th><%= @request.name %></th>
	<th><a href="mailto:<%= @request.email %>"><%= @request.email %></th>
	<th><%= @request.dept %></th>
	<th><%= @request.body %></th>
	<th><button><%= link_to "Edit", edit_request_path(@request) %></button>  
			<button><%= link_to "Delete", 
				request_path(@request), 
				method: :delete, 
				data: {confirm: "are you sure?"} %></button> 

				<%= form_for @request do |f| %>
				<!-- we are using the IF statement to submit the OPPOSITE value to the update method to change the request.actions field value -->
				<% if @request.actions %>
					<input type="hidden" name="request[actions]" value="false">
					<%= f.submit "Done" %>
				<% else %>
					<input type="hidden" name="request[actions]" value="true">
					<%= f.submit "Not Done" %>
				<% end %>

			<% end %>			
				
	</th>
</tr>

</table>


