
<table border=1>
<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Department</th>
	<th>Message</th>
	<th>Actions</th>
</tr>

<tr>
	<th><%= @request.name %></th>
	<th><a href="mailto:<%= @request.email %>"><%= @request.email %></th>
	<th><%= @request.dept %></th>
	<th><%= @request.body %></th>
	<th><button><%= link_to "Edit", edit_request_path(@request) %></button>  
			<button><%= link_to "Delete", 
				request_path(@request), 
				method: :delete, 
				data: {confirm: "are you sure?"} %></button> 
			<button><% if @request.actions %>
								<%="Done" %>
							<% else %>
								<%="Not Done" %>
							<% end %>

							<% @request.actions = false || @request.actions %>
			</button>
				
	</th>
</tr>

</table>


