<!DOCTYPE html>
<html>
<head>
  <title>Quiz1 - Supporter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <!-- thanks to Tyler's tip -->
  <style> 
  	form {  display: inline-block; }
  </style>
</head>
<body>
<h1><%= link_to "Support Requests", requests_path %></h1>
<p></p><hr width="100%">

<ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Home", requests_path %></li>
  <li role="presentation"><%= link_to "New request", new_request_path %></li>
  <li role="presentation"><%= link_to "Index all requests", requests_path %></li>
</ul>

<%= yield %>

</body>
</html>
